* {
  margin: 0;
  padding: 0;
}

body {
  --slack-purple: #4A154B;
  --slack-blue: #36C5F0;
  --slack-yellow: #ECB22E;
  --slack-green: #2EB67D;
  --slack-red: #E01E5A;
  overflow: hidden;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
